* {
    box-sizing: border-box;
}
@font-face {
    src: url("../font/segmdl2.ttf");
    font-family: "Segoe MDL2 Assets";
}
@media screen and (min-width: 1000px) {
    .play-block {
        width: 960px;
    }
    .video-block {
        height: 540px;
    }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
    .play-block {
        width: 576px;
    }
    .video-block {
        height: 324px;
    }
}
.play-block {
    overflow: hidden;
    color: rgb(44, 141, 232);
    position: relative;
    margin-bottom: 20px;
    margin-left: 10%;
}
.video-block {
    position: relative;
}
.video {
    width: 100%;
}
video::-webkit-media-controls {
    display: none !important;
}
video::-webkit-media-controls-enclosure {
    display: none !important;
}
.play-info {
    overflow: hidden;
    border: rgb(222, 222, 222) 1px solid;
    padding: 5px;
    background-color: white;
    width: 100%;
    bottom: 0;
    left: 0;
    position: relative;
}
.progress-bar {
    height: 2px;
    width: 99%;
    background: rgb(222, 222, 222);
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.progress {
    display: block;
    height: 3px;
    width: 0;
    background: rgb(44, 141, 232);
}
.command-block {
    display: block;
    margin-top: 5px;
    vertical-align: middle;
    overflow: hidden;
}
.command {
    background: none;
    border: none;
    color: rgb(44, 141, 232);
    font-family: "Segoe MDL2 Assets";
    font-size: 1.5em;
    padding: 0;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
}
.play:before {
    content: "";
}
.pause:before {
    content: "";
}
.on:before {
    content: "";
}
.off:before {
    content: "";
}
.popup:before {
    content: "";
}
.full:before {
    content: "";
}
.exit-full:before {
    content: "";
}
.danmaku:before {
    content: "";
}
.danmaku-sender:before {
    content: '';
}
.danmaku-settings:before {
    content: '';
}
.playpause {
    float: left;
}
.full, .exit-full, .danmaku, .popup {
    float: right;
}
.volume-block {
    display: inline-flex;
    float: left;
}
.volume-range {
    -webkit-appearance: none;
    outline: none;
    height: 2px;
    width: 50px;
    background: rgb(44, 141, 232);
    cursor: pointer;
    display: none;
    margin-top: 10px;
}
.volume-range::-webkit-slider-thumb {
    height: 2px;
    width: 2px;
    background: white;
    -webkit-appearance: none;
}
.volume-block:hover .volume-range {
    display: inline-block;
}
.time {
    display: inline;
    margin-left: 5px;
    float: left;
}
.small-video-container {
    position: fixed;
    top: calc(100% - 220px);
    left: calc(100% - 340px);
    display: none;
    width: 320px;
    overflow: hidden;
    z-index: 1;
}
.small-video-container button {
    background: none;
    border: none;
    color: rgb(44, 141, 232);
}
.small-video {
    height: 180px;
    width: 100%;
    clear: both;
    display: block;
}
.drag-bar {
    float: left;
    cursor: move;
    margin-right: 20px;
}
.resize-bar {
    float: left;
    cursor: ew-resize;
}
.close {
    float: right;
    cursor: pointer;
}
.danmaku-block {
    position: absolute;
    height: 100%;
    width: 100%;
}
.danmaku-command {
    width: 50%;
    position: absolute;
    bottom: 50px;
    right: 25%;
    z-index: 2147483647;
    display: none;
}
.danmaku-style {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    bottom: 35px;
    right: -75px;
    height: 200px;
    width: 300px;
    border-radius: 5px;
    text-align: center;
    z-index: 2147483647;
    display: none;
}
input[type='radio'] {
    height: 12px;
    width: 12px;
    border: 1px solid rgb(44, 141, 232);
    border-radius: 6px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type='radio']:checked {
    background: rgb(44, 141, 232);
}
.danmaku-input {
    border-radius: 5px;
    height: 30px;
    width: 85%;
    border: 1px solid rgb(44, 141, 232);
    background-color: rgba(255, 255, 255, 0.4);
}
@keyframes flow {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-2000px);
    }
}
